html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: repeating-linear-gradient(135deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), repeating-linear-gradient(22.5deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), linear-gradient(90deg, rgb(0, 89, 221), rgb(0, 89, 221), rgb(0, 89, 221), rgb(0, 89, 221), rgb(0, 89, 221));
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 100%;
  display: flex;
   margin: 0 8px;
}

.video-wrapper {
  flex: 1 0 0;
  margin: auto;
  max-width: 640px;
  
  border-radius: 3.2px;
  border-color: #000 #101010 #000 #101010;
  position: relative;
  padding: 1px;
  background: blue;
}

.video-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 1px solid purple;
  pointer-events: none;
}

.fadeBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a0a0a;
  pointer-events: none;
  animation: fadeOut 2s ease-in 700ms forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}


.ratio-keeper {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  margin: auto;
}

.video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


iframe {
  user-select: none;
}

.hide {
  display: none;
}


.exit {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  position: absolute;
  top: auto;
  bottom: -47px;
  margin: auto;
  right: 0;
  left: 0;
  width: 47px;
  height: 47px;
  cursor: pointer;
  background: black;
  border-radius: 50%;
  border: 5px solid red;
  animation: fadeInExit 3s ease-in 0s forwards;
  animation-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

@keyframes fadeInExit {
  99% {

    pointer-events: none;
  }

  100% {
    pointer-events: initial;
    opacity: 1;
  }
}

.exit::before,
.exit::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 5px;
  background: red;
  transform: rotate(45deg);
  transition: all 1s ease;
}

.exit::after {
  transform: rotate(-45deg);
}

.exit:hover::before,
.exit:hover::after,
.fadingOut .exit::before,
.fadingOut .exit::after {
  background: green;
}

.fadingOut .exit {
  animation: fadeOutExit 0s forwards;
  pointer-events: none;
  opacity: 1;
}

@keyframes fadeOutExit {
  to {
    opacity: 0;
  }

}
